@model int
@inject ProductRepository productRepo

@{
    var product = await productRepo.GetAsync(x => x.ArticleNumber == Model.ToString());
}
<div class="pt-5"></div>
<div class="pt-5">hohoho</div>
<div class="pt-5">Hej</div>
<div>Article number: @Model</div>
<div class="pt-5">hehehe</div>


<div class="mt-5">
    <partial name="/Views/Partials/_UpToSell.cshtml" />

</div>




<div class="pt-5">
    <div class="pt-5">Article number: @Model</div>
    <div>Hej</div>
</div>

@if (product != null)
{
    <div>
        <div>@product.ArticleNumber</div>
        <div>@product.Name</div>
        <div>
            @foreach (var tag in product.ProductTags)
            {
                <span class="me-2">@tag.Tag.TagName</span>
            }
        </div>
        <div>@product.Description</div>
    </div>
}
else
{
    <div>
        No product found!!!
    </div>
}


