@model GridCollectionItemViewModel


@{
    var tag = tagService.GetTagsAsync();
    var products = await productService.GetAllAsync();

}

@if (products != null)
{
    foreach (var product in products)
    {
        <a asp-controller="ProductDetails" asp-action="index" asp-route-id="@Model.ArticleNumber" class="collection-item">
            <div class="bmerketo-card">
                <div class="container">


                    <div class="b-card ">

            


                        <div class="card-body">

                            @if (Model.ImageUrl != null)
                            {
                                <img src="~/images/products/@Model.ImageUrl" alt="@Model.Name" height="50" width="50" />
                            }
                            <div class="cardContent">

                                <h5 class="title">@(Model.Name)</h5>

                                <div class="body-text">
                                    @if (Model.OfferPrice != null)
                                    {
                                        <div class="priceOffer">@("$" + Model.OfferPrice)</div>
                                    }
                                    <div class="price">@("$" + Model.Price)</div>
                                    <i class="add-cart fa-regular fa-cart-plus"></i>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </a>
    }
}




@*<a class=" m-3" asp-controller="ProductsDetails" asp-action="index" asp-route="@Model.Products">
    <div class="card-body">

        @if (product.ImageUrl != null)
        {
            <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
        }
        <div class="cardContent">

            <h5 class="title">@(product.Name)</h5>

            <div class="body-text">
                @if (product.OfferPrice != null)
                {
                    <div class="priceOffer">@("$" + product.OfferPrice)</div>
                }
                <div class="price">@("$" + product.Price)</div>
                <i class="add-cart fa-regular fa-cart-plus"></i>
            </div>

        </div>
    </div>
</a>*@