@*@model ProductsViewModel*@
@model string
@inject ProductRepository productRepo


@{
    ViewData["Title"] = "Products";

    //var product = await productRepo.GetAsync(x => x.ArticleNumber == Model);

    //var products = await productService.GetAllAsync();
}

<div>
    @foreach (var product in await productRepo.GetAsync())
    {
        <div>
            <div><a asp-action="Details" asp-route-id="@product.ArticleNumber">@product.Name</a></div>
            <div>
                @foreach (var tag in product.ProductTags)
                {
                    <span class="me-2">@tag.TagId</span>
                }
            </div>
        </div>
    }
</div>





<div class="container newProductPage pb-5">
    <a class="btn-theme me-5 link btn btn-info " asp-controller="ProductBackoffice" asp-action="register">NEW PRODUCTS</a>
    <a class="btn-theme-grey link btn btn-secondary" asp-controller="admin" asp-action="Index">BACK TO BACKOFFICE</a>
</div>

@*<div class="container m5-5">
    @foreach (var product in Model.Products)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-left align-items-center">
                    @if (product.ImageUrl != null)
                    {
                        <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
                    }
                    <div class="mx-4">@("Article number: " + @product.ArticleNumber)</div>
                    <div class="mx-4">@("Name: " + product.Name)</div>
                    <div class="mx-4">@("Price: " + product.Price)</div>
                    @if (product.OfferPrice != null)
                    {
                        <div class="mx-4">@("Offer price: " + product.OfferPrice)</div>
                    }
                </div>

                <div class="d-flex mt-4">
                    <p class="">Categories:  </p>
                    <div class="d-flex">
                        @foreach (var categorie in product.Tags)
                        {
                            if (@categorie.TagId == 1)
                            {
                                <div class="mx-4">New</div>

                            }

                            if (@categorie.TagId == 2)
                            {
                                <div class="mx-4">Popular</div>

                            }

                            if (@categorie.TagId == 3)
                            {
                                <div class="mx-4">Featured</div>

                            }
                        }
                    </div>
                </div>

                <div>
                    <div class="mt-2">@("Description: " + product.Description)</div>
                </div>
            </div>
        </div>
    }
</div>*@