@model ProductCombinedViewModel


@{
    ViewData["Title"] = "Products";

    //var products = await productService.GetAllAsync();
}

<div class="bmerketo-card">
    <div class="container">
        <div class="b-card ">

            @foreach (var product in Model.Products)
            {
                @*       <a class="collection-item m-3" asp-controller="ProductDetails" asp-action="index" asp-route-id="@Model.ArticleNumber">

            <partial name="/Views/Partials/_GridCollectionItem.cshtml" />

            </a>
            *@

                <a class="collection-item m-3" asp-controller="ProductDetails" asp-action="index" asp-route-id="@product.ArticleNumber">
                    <div class="card-body">

                        @if (product.ImageUrl != null)
                        {
                            <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
                        }
                        <div class="cardContent">

                            <h5 class="title">@(product.Name)</h5>

                            <div class="body-text">
                                @if (product.OfferPrice != null)
                                {
                                    <div class="priceOffer">@("$" + product.OfferPrice)</div>
                                }
                                <div class="price">@("$" + product.Price)</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>





@*@model string
@inject ProductRepository productRepo

@{
    var product = await productRepo.GetAsync(x => x.ArticleNumber == Model);
}

<div class="pt-5">
    <div class="pt-5">Article number:</div>
    <div>Hej</div>
</div>

@if (product != null)
{
    <div>
        <div>@product.ArticleNumber</div>
        <div>@product.Name</div>
        <div>
            @foreach (var tag in product.ProductTags)
            {
                <span class="me-2">@tag.Tag.TagName</span>
            }
        </div>
        <div>@product.Description</div>
    </div>
}
else
{
    <div>
        No product found!!!
    </div>
}*@