@model ProductCombinedViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="bmerketo-card grid-collection">
    <h1 class="title mb-5">All products</h1>

    <div class="container">
        <div class="b-card ">
            @foreach (var product in Model.Products)
            {
                <a class="collection-item m-3" asp-controller="ProductDetails" asp-action="details" asp-route-id="@product.ArticleNumber">
                    <div class="card-body">

                        @if (product.ImageUrl != null)
                        {
                            <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
                        }
                        <div class="cardContent">

                            <h5 class="title">@(product.Name)</h5>

                            <div class="body-text">
                                @if (product.OfferPrice != null)
                                {
                                    <div class="priceOffer">@("$" + product.OfferPrice)</div>
                                }
                                <div class="price">@("$" + product.Price)</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>